.Footer-List {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1.2%;
    height: 40px;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.Footer-Item {
    padding-right: 20px;
    display: inline-block;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.Footer-Link, .Footer-Copy{
    text-decoration: none;
    color: #858585;
    font-size: 12px;
}

.Footer-Copy {
    margin-top: 2%;
    float: right;
    margin-bottom: 1.2%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}